@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*3D-boksene*/
.container{
position: relative;
left: auto;
right: auto;
width: 50em;
margin-right: -4em;
margin-top: 25em;
text-align: center;
}

.wrapper {
	margin: 0 auto 3em auto;
	height: auto;
	max-height: 86em; 
}

.clearfix:before,
.clearfix:after {
    content: " ";
	display: table;
}

.clearfix:after {
    clear: both;
}

.stage {
	list-style: none;
	padding: 0;
}

/*Aldersgrensene*/
.rating{
	color: rgb(6, 6, 7);
	font-size: 1rem;
	padding: 0.2em;
  }
  
/*Listen til de tre boksene*/
.scene {
	width: 16.25em;
	height: 25em;
	float: left;
	-webkit-perspective: 62.5em;
	-moz-perspective: 62.5em;
	perspective: 42.5em;
}

.clearfix:focus{
	width: 5em;
}

/*Navnene på de ulike spillene*/
.poster{
	color: white;
	padding-left: 1em;
	padding-top: 25em;
	position: absolute;
	transform: translate(50%,-50%);
	text-transform: uppercase;
	font-family: verdana;
	font-size: 0.8rem;
	font-weight: 700;
	
  }

/* Str på de tre boksene når de snur på seg*/
.movie {
	width: 17.25em;
	height: 15em;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-8.125rem);
	-moz-transform: translateZ(-8.125rem);
	transform: translateZ(-8.125rem);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
    transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-88deg) translateZ(3.7em);
	-moz-transform: rotateY(-88deg) translateZ(3.7em);
	transform: rotateY(-88deg) translateZ(3.7em);
}

/*Boksene når de er snudd*/
.movie .poster, 
.movie .info {
	position: absolute;
	width: 12.25rem;
	height: 20rem;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster  {
	-webkit-transform: translateZ(8.125em);
	-moz-transform: translateZ(8.125em);
	transform: translateZ(8.125em);
	background-size: cover;
	background-repeat: no-repeat;
}

/*Info-teksten på de snudde boksene*/
.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(8.125em);
	-moz-transform: rotateY(90deg) translateZ(8.125em);
	transform: rotateY(90deg) translateZ(8.125em);
	border: 2px solid #1b2d4e;
	font-size: 0.8rem;
}

.info p {
	padding: 0.2em 0.2em 0.2em 0.2em ;
	font-weight: 700;
	color: #666;
	line-height: 1.4em;
}


/*Bakgrunns-bilde når boksene er snudd*/
.info header {
	color: rgb(31, 18, 146);
	padding: 7px 10px;
	font-weight: bold;
	height: 12.2em;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

/*Boksen for aldersgrense*/
.info header .rating {
	border: 2px solid rgb(40, 53, 95);
	padding: -px 2px;
	margin-top: 8.5em;
	margin-bottom: 1em;
	margin-left: 3.5em;
	float: left;
}


/*Bildene i 3D-boksene*/

.scene:nth-child(1) .movie .poster {
  background-image: url(../images/bilfritt.jpg)
}

.scene:nth-child(2) .poster {
  background-image: url(../images/corona\ 2.jpg)
}

.scene:nth-child(3) .poster {
  background-image: url(../images/influence\ 2.jpg); 
}

.scene:nth-child(1) .info header {
	background-image: url(../images/Traffic-jam-1\ 2.jpg);
	height: 12rem;	
}

.scene:nth-child(2) .info header {
	background-image: url(../images/corona\ b3.jpg);
	height: 9.7rem;	
}

.scene:nth-child(3) .info header {
	background-image: url(../images/influencer\ b2.jpg);
	height: 11.1rem;	
}

/*Media Queries*/

@media screen and (max-width: 48em){
	.scene {
		float: none;
		margin: -2em auto auto;
	}
}

@media screen and (max-width: 48em){
	.container {
		float: none;
		margin-top: 71em;
		width: 100%;
	}
}
@media screen and (max-width: 40em){
	.movie {
		width: 20em;
		height: 12em;
	}
}

@media screen and (max-width: 30em){
	.wrapper {
		padding-bottom: 10em;
	}
}
*/






