* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #1abc9c;
    background-image: linear-gradient(to top left, #9b59b6, #1abc9c);
    font-family: arial;
    position: relative;
    text-align: center;
  }
  
  /* Overskrift, hjelp parene med... farge */
  header {
    color: white;
    letter-spacing: 10px;
    font-size: 1.4rem;
    padding: 10px 5px;
  }

  /*Overskrift, font size*/
  .coronaskrift{
    font-size: 2rem;
    margin-top: 2em;
}
  
/*Media queries*/
  @media only screen and (min-width: 32em) {
    header {
      font-size: 1.78rem;
    }
  }
  
  @media only screen and (min-width: 64em) {
    header {
      font-size: 2rem;
      padding: 10px;
    }
  }
  @media only screen and (max-width: 28em) {
    header {
      font-size: 2rem;
      padding: 8px;
    }
  }
  
  /* Tabellen*/
  .main {
    background: white;
    width: 18em;
    height: 23.5em;
    padding: 1.7em;
    margin: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  @media only screen and (min-width: 64em) {
    .main {
      width: 25em;
      height: 23.5em
    }
  }

  @media only screen and (min-width: 32em) {
    .main {
      width: 25em;
      height: 23.5em;
    }
  }
  
  @media only screen and (max-width: 28em) {
    .main {
      width: 18em;
      height: 23.5em
    }
  }
  
  /*Boksene i tabellen*/
  .box {
    background: #6186aa;
    background-size: 250%;
    width: 3.4em;
    height: 3.4em;
    float: left;
    margin: 10px 0 0 10px;
  }
  
  @media only screen and (min-width: 64em) {
    .box {
      width: 4.4em;
      height: 4.4em;
    }
  }
  @media only screen and (min-width: 32em) {
    .box {
      width: 4.4em;
      height: 4.4em;
    }
  }
  @media only screen and (max-width: 28em) {
    .box {
      width: 3.4em;
      height: 3.4em;
    }
  }
  
  .play:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  /* Nederste kolonne i tabellen. der tid og poeng står */
  #state {
    background: #6186aa;
    background-size: 250%;
    width: 13.2em;
    line-height: 2.2em;
    float: left;
    margin: 10px 0 0 10px;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    font-size: 1rem;
  }

  @media only screen and (min-width: 64em) {
    #state {
      width: 21em;
      line-height: 2.2em;
    }
  }

  @media only screen and (min-width: 32em) {
    #state {
      width: 21em;
      line-height: 2.2em;
    }
  }
  @media only screen and (max-width: 28em) {
    #state {
      width: 13.2em;
      line-height: 2.2em;
    }
  }

  
  /*Tid*/
  #time {
    float: left;
  }
  
  #time::after {
    content: " sek";
  }
  
  /*Poeng*/
  #score {
    float: right;
  }
  
  #score::after {
    content: " poeng";
  }
  
  /* Teksten "Fagskolen Tema 3" */
  footer p {
    color: white;
    padding: 5px;
    font-size: 0.875rem;
    letter-spacing: 1px;
  }
  
  footer p a {
    color: white;
    text-decoration: none;
  }
  
  footer p a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* Tema-meny innstillinger FØR man begynner spillet */
  #pre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .hidden {
    display: none !important;
  }
  
  .show {
    display: block;
  }
  
  .outlined {
    outline: solid 2px #34495e;
    background: #9b59b6;
  }
  
  /*Velg Tema*/
  #themes {
    margin: auto;
    padding: 2.3em;
    width: 15.6em;
    background: white;
    color: #6186aa;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }
  
  /*Tema: Kjendiser*/
  #themes button {
    margin-top: 10px;
    padding: 5px 1.25em;
    border: solid 1px;
    background: white;
    color: #6186aa;
    cursor: pointer;
    font-size: 1rem;
  }
  
  /*Hovering-effekt*/
  #themes button:hover {
    background: #6186aa;
    background-size: 250%;
    color: white;
  }
  
  /* Etter spillet*/
  #post {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.5);
    display: flex;
  }
  
  #post > div {
    width: 18.75em;
    padding: 1em 0em 2em;
    background: white;
    color: #6186aa;
  }
  
  #post p:first-child, 
  #post #final {
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
    padding: 0.625em 1.25em;
  }
  
  /*Spill igjen!*/
  #post #again {
    color: #6186aa;
    text-decoration: none;
    margin: auto;
    padding: 0.625em 1.25em;
    width: 10em;
    border: solid 1px;
  }
  /*Spill igjen, hovering*/
  #post #again:hover {
    background: #6186aa;
    background-size: 250%;
    color: white;
    cursor: pointer;
  }