
/*Bakgrunn, resten av koden finner man i HTML under body*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }

}

/*Aldersgrensene*/
.rating{
  color: black;
  font-size: 1.5rem;
}

/*Navnene på de ulike spillene*/
.poster{
  color: white;
  padding-left: 2.6rem;
  padding-top: 25rem;
  position: absolute;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 1em;
  font-weight: 700;
  
}

/*Hurtiglinkene man finner ved å trykke på burger-menyen*/
.hjem{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.spill{
  font-weight: 600;
}

.om{
  font-weight: 600;
}

/*Burger*/

nav{
    position:fixed;
    top:0;
    left:0;
    width:15.6rem;
    height:100%;
    margin:0 0 0 -15.6rem;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

/*Menyen som dukker opp ved å trykke på burgeren, beige bakgrunn*/
nav ul{
    width:13.75rem;
    height:100%;
    padding:0 0 0 3.125rem;
    margin:0;
    list-style:none;
    background:#FFF9A5;
    overflow:hidden;
}
nav li{
    margin:0;
}

/*Teksten i menyen*/
nav a{
    color:#484A56;
    font-size:1em;
    font-family:'Montserrat', helvetica, arial, sans-serif;
    font-weight: 400;
    text-decoration:none;
    display:block;
    padding:12px 15px;
    font-weight:300;
    letter-spacing:2px;
}
nav a:hover{
    background:#EAEBED;
}

/*Navigasjon av burger-meny*/
label{
    display:block;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-weight:700;
    line-height:2.625rem;
    color: #fff;
    text-align:center;
    font-size:2em;
    line-height:1.1em;
    position: absolute;
    top:2.8rem;
    left:3.2rem;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    z-index:500;
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked ~ nav{
    margin:0 0 0 -3.125rem;
}
input[type="checkbox"]:checked ~ label{
    left:16.9rem;
}
input[type="checkbox"]:checked ~ section{
    -webkit-transform:translate3d(210px, 0, 0);
    -moz-transform:translate3d(210px, 0, 0);
    -o-transform:translate3d(210px, 0, 0);
    transform:translate3d(210px, 0, 0);
}
svg {
  transform: scale(1.5);
}

/*Hurtiglinkene i burger-menyen, farge og plassering*/
.fa {
  color: black;
  padding:10px 20px 10px 10px;  
}
  
/*venstre burger-meny */


#chips {
  position: absolute;
  margin-left: -30px;
  margin-top: 15px;
  
}
#burger {
  display:block;
}

/*Overskrift animasjon*/
  
body {background:#f3efe8;}

/*Plassering*/
.loading {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-transform:uppercase;
  position: absolute;
  padding-left: 0.6rem;
  top: 11rem;
  width:7.5rem;
  line-height:3.125rem;
  transform:translateY(-50%);
}

.loading span {
  position:relative;
  z-index:999;
  color:#fff;
}

/*Horisontale rektangelet som flytter på seg*/
.loading:before {
  content:'';
  background: rgb(0, 255, 170);
  width:8rem;
  height:2.25rem;
  display:block;
  position: relative;;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  animation:2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0%   {transform:translateX(-14px);}
  50%  {transform:translateX(14px);}
  100% {transform:translateX(-14px);}
}

/*Vertikale rektangelen som flytter på seg*/
.loading:after {
  content:'';
  background:#FFF9A5;
  width:1rem;
  height:3.75rem;
  display:block;
  position: absolute;;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  opacity:.5;
  
  animation:2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0%   {transform:translateX(-50px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-50px);}
}



