
/*Bakgrunn, resten av koden finner man i HTML under body*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }
}

/*Hurtiglinkene man finner ved å trykke på burger-menyen*/
.hjem{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.spill{
  font-weight: 600;
}

.om{
  font-weight: 600;
}

/*Burger*/

nav{
    position:fixed;
    top:0;
    left:0;
    width:15.6em;
    height:100%;
    margin:0 0 0 -15.6rem;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

input[type="checkbox"]{
  display:none;
}
input[type="checkbox"]:checked ~ nav{
  margin:0 0 0 -3.125em;
}
input[type="checkbox"]:checked ~ label{
  left:5.2em;
}
input[type="checkbox"]:checked ~ section{
  -webkit-transform:translate3d(210px, 0, 0);
  -moz-transform:translate3d(210px, 0, 0);
  -o-transform:translate3d(210px, 0, 0);
  transform:translate3d(210px, 0, 0);
}
svg {
transform: scale(1.1);
}


@media only screen and (max-width: 40em){
  svg{
    width: 2em;
    height: 2em;
  
  }
}


/*Menyen som dukker opp ved å trykke på burgeren, beige bakgrunn*/
nav ul{
    width:12.75em;
    height:100%;
    padding:0 0 0 2.125em;
    margin:0;
    list-style:none;
    background:#FFF9A5;
    overflow:hidden;
}
nav li{
    margin:0;
}

/*Teksten i menyen*/
nav a{
    color:#484A56;
    font-size:1rem;
    font-family:'Montserrat', helvetica, arial, sans-serif;
    font-weight: 400;
    text-decoration:none;
    display:block;
    padding:12px 15px;
    font-weight:300;
    letter-spacing:2px;
}
nav a:hover{
    background:#EAEBED;
}

/*Navigasjon av burger-meny*/
label{
    display:block;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-weight:700;
    line-height:2.625em;
    color: #fff;
    text-align:center;
    font-size:2rem;
    line-height:1.1em;
    position: absolute;
    top:1.5em;
    left:1.6em;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    z-index:500;
}

/*Hurtiglinkene i burger-menyen, farge og plassering*/
.fa {
  color: black;
  padding:10px 20px 10px 10px;  
}
  
/*venstre burger-meny */

/*Plassering av lagene i burgeren, innmaten*/
#chips {
  position: absolute;
  margin-left: -11em;
  margin-top: 0.94em;
  
}
#burger {
  display:block;
}

/*Animert figur*/
.animated {
  position: absolute;
  height: 3em;
  width: 10em;
  margin-top:-9em ;
  font-size: 2rem;
  background: url("/images/Mike_Wazowski.png") no-repeat left center transparent; 
  background-size: 20%;
  -webkit-animation: test 4s infinite;
  animation: test 4s infinite ease-in;
}

.animated:focus{
  height: 3em;
}

@media only screen and (max-width: 40em){
  .animated{
    background-size: 20%;
    margin-top: -9em ;
  }
}
@media only screen and (max-width: 30em){
  .animated{
    background-size: 10%;
    margin-top: -49em ;
  }
}

/*Start og stopp, felles*/
.buttons{
 position: absolute;
 padding-top: 0em;
 margin-left: 1em;
 margin-top: -11em;
 width: 8em;
}

@media only screen and (max-width: 30em){
  .buttons{
    width: 8em;
    margin-top: 5em ;
  }
}

/*Start*/
.play-animation{
 color: #fff;
 background-color: rgb(38, 172, 38);
 padding: 0.3em;
 border: 2px solid rgb(226, 219, 219);
 border-radius: 5%;
}
/*Stopp*/
.stop-animation{
 color: #fff;
 background-color: rgb(219, 61, 74);
 padding: 0.3em;
 border: 2px solid rgb(226, 219, 219);
 border-radius: 5%;
}

@-webkit-keyframes test {
  50% {background-position: right center;}
}

@keyframes test {
  50% {background-position: right center;}
}

