
/*Influencer-spillet/hangman*/
body {
    background-color: #eee;
    margin: 0;
}

/*Bakgrunn og plassering av hovedsiden i hangmanspillet"*/
.hangman{
    background: linear-gradient(#eee, #aaa);
    background: -webkit-linear-gradient(top, #eee, rgb(90, 162, 245));
    background: -ms-linear-gradient(top, #eee, #aaa);
    background: -moz-linear-gradient(top, #eee, #aaa);
    background: -o-linear-gradient(top, #eee, #aaa);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
}

/*Velkomst-siden, "spill nå!"*/
#home {
    background: linear-gradient(#eee, #aaa);
    background: -webkit-linear-gradient(top, #eee, rgb(90, 162, 245));
    background: -ms-linear-gradient(top, #eee, #aaa);
    background: -moz-linear-gradient(top, #eee, #aaa);
    background: -o-linear-gradient(top, #eee, #aaa);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

/*Overskriften/teksten på velkomstsiden*/
#home .title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 15%;
    text-align: center;
}

/*Knappen på velkomst-siden*/
#home .button {
    background: rgb(148, 197, 148);
    background: linear-gradient(#afa, #6f6);
    background: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(235, 241, 235));
    background: -ms-linear-gradient(top, #afa, #6f6);
    background: -moz-linear-gradient(top, #afa, rgb(102, 156, 255));
    background: -o-linear-gradient(top, #afa, rgb(66, 153, 66));
    border-radius: 2px;
    box-shadow: 0 0 0 4px rgb(8, 8, 8);
    display: table;
    font-weight: bold;
    padding: 0.625em 1.25em;
    margin: 5% auto;
}

/*Knappen på velkomst-siden*/
.h {
    display: none;
}

/*Tap resultat*/
#result {
    background: #700;
    background: linear-gradient(rgba(125, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -webkit-linear-gradient(top, rgba(125, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -ms-linear-gradient(top, rgba(125, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -moz-linear-gradient(top, rgba(125, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -o-linear-gradient(top, rgba(125, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

/*Seier resultat*/
#result[data="true"] {
    background: #070;
    background: linear-gradient(rgba(0, 125, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -webkit-linear-gradient(top, rgba(0, 125, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -ms-linear-gradient(top, rgba(0, 125, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -moz-linear-gradient(top, rgba(0, 125, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
    background: -o-linear-gradient(top, rgba(0, 125, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 80%);
}

/*Redigering av teksten du får ved resultatet*/
#result .title {
    color: #eee;
    font-size: 3rem;
    margin-top: 15%;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}

/*Bodyen etter resultatet kommer*/
#result .body {
    color: #fff;
    margin-top: 1.9em;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}

/*Knappen "Prøve igjen?"*/
#result .button {
    background:#afa;
    background: linear-gradient(#afa, #6f6);
    background: -webkit-linear-gradient(top, rgb(245, 247, 245), rgb(239, 243, 239));
    background: -ms-linear-gradient(top, #afa, #6f6);
    background: -moz-linear-gradient(top, #afa, #6f6);
    background: -o-linear-gradient(top, #afa, #6f6);
    border-radius: 2px;
    box-shadow: 0 0 0 5px rgb(8, 8, 8);
    display: table;
    font-weight: bold;
    padding: 0.625em 1.25em;
    margin: 2.5em auto;
    margin-bottom: 0;
}

/*Bokstavene som dukker opp øverst når du trykker på riktig bokstaver i spillet*/
#letter {
    font-size: 1.4rem;
    height: 1.9em;
    margin: 1.25em;
    text-align: center;
}

/*Linjene under bokstavene*/
.l {
    box-shadow: 0 3px 0 -1px #555;
    display: inline-block;
    margin: 1px;
    height: 1.25em;
    text-transform: uppercase;
    width: 1.25em;
}

.ls {
    box-shadow: 0 0 0 0 #555;
    width: 0.625em;
}

/*Posisjonering av spillet*/
#game {
    height: 15.6em;
    margin: auto;
    position: relative;
    width: 14em;
}

#game .player {
    left: 3.3em;
    position: absolute;
    top: 5.625em;
    height: 8.1em;
    width: 4.7em;
}

/*PlayerModel*/
.player .playerModel {
    height: 100%;
    position: relative;
    width: 100%;
}

.playerModel .head {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #000 inset;
    height: 2.2em;
    margin: auto;
    width: 2.2em;
}

.playerModel .head[data="false"] {
    display: none;
}

.playerModel .body {
    background-color: #000;
    height: 2.8em;
    margin: auto;
    width: 2px;
}

.playerModel .body[data="false"] {
    display: none;
}

.playerModel .body:before, .playerModel .body:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1.875em;
    position: absolute;
    width: 2px;
}

.playerModel .body[l="false"]:before, .playerModel .body[r="false"]:after {
    display: none;
}

.playerModel .body:before {
    left: 1.7em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.playerModel .body:after {
    right: 1.7em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.playerModel .foot {
    background-color: #000;
    height: 3px;
    margin: auto;
    width: 2px;
}

.playerModel .foot[data="false"] {
    display: none;
}

.playerModel .foot:before, .playerModel .foot:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2.5em;
    position: absolute;
    width: 2px;
}

.playerModel .foot[l="false"]:before, .playerModel .foot[r="false"]:after {
    display: none;
}

.playerModel .foot:before {
    left: 1.9em;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}

.playerModel .foot:after {
    right: 1.9em;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}


/*Stang*/
#game .stang3 {
    background-color: #000;
    height: 1.25em;
    left: 5.6em;
    position: absolute;
    top: 4.4em;
    width: 2px;
}

#game .stang3[data="false"] {
    display: none;
}

#game .stang2 {
    background-color: #000;
    border-radius: 5px 0 0 5px;
    bottom: 11.25em;
    height: 5px;
    position: absolute;
    right: 2.8em;
    width: 5.9em;
}

#game .stang2:before {
    background-color: #000;
    content: "";
    left: 3.1em;
    height: 5px;
    position: absolute;
    top: 1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 3.1em;
}

#game .stang2[data="false"] {
    display: none;
}

#game .stang {
    background-color: #000;
    bottom: 0;
    height: 11.25em;
    margin: auto;
    position: absolute;
    right: 2.8em;
    width: 5px;
}

#game .stang[data="false"] {
    display: none;
}

/*Ground*/
#game .ground {
    background-color: #000;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    height: 5px;
    margin: auto;
    position: absolute;
    right: 0;
    width: 13.75em;
}

#game .ground[data="false"] {
    display: none;
}

/*hintButton*/
#game .hintButton {
    background: #ccc;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    border-radius: 8%;
    box-shadow: 1px 1px 6px rgb(19, 18, 18);
    font-weight: bold;
    padding: 6px 12px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#game .hintButton[data="false"] {
    display: none;
}


/*Hint boksen*/
#hint {
    border-radius: 2px;
    box-shadow: 1px 1px 4px #888;
    display: none;
    left: 0;
    margin: auto;
    margin-top: 4.7em;
    position: absolute;
    right: 0;
    top: 0;
    width: 15.6em;
}

/*Beskjed-området som dukker opp ved å trykke på hint*/
#hint .title {
    background: #fff;
    background: linear-gradient(#fff, #bbb);
    background: -webkit-linear-gradient(top, #fff, #bbb);
    background: -ms-linear-gradient(top, #fff, #bbb);
    background: -moz-linear-gradient(top, #fff, #bbb);
    background: -o-linear-gradient(top, #fff, #bbb);
    border-bottom: solid 1px #555;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
}

/* X,en i hint boksen*/
#hint .title .exit {
    background-color: #f55;
    border-radius: 50%;
    box-shadow: 1px 1px 4px #888;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    right: -1em;
    top: -1em;
}

#hint .body {
    background-color: #ddd;
    border-radius: 0 0 2px 2px;
    padding: 0.625em;
}

/*Tastaturet på bunnen*/
#tastatur {
    background-color: rgba(238, 238, 238, 0.9);
    bottom: 0;
    left: 0;
    margin: auto;
    margin-bottom: 1.25em;
    max-width: 31.25em;
    padding: 0 1em;
    position: absolute;
    right: 0;
    text-align: center;
}

#moveKeybord {
    padding: 1em;
}

.marg {
    border-bottom: solid 2px #ccc;
}

.b {
    background: #eee;
    background: linear-gradient(#fff, #eee);
    background: -webkit-linear-gradient(top, #fff, #eee);
    background: -ms-linear-gradient(top, #fff, #eee);
    background: -moz-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top, #fff, #eee);
    box-shadow: 1px 1px 1px 0 #ccc;
    display: inline-block;
    margin: 2px;
    padding: 0.5em;
    text-align: center;
    width: 1.6em;
}

.b[data="false"], .b[data="true"] {
    color: #555;
    font-weight: bold;
}

.b[data="true"] {
    background: rgb(79, 224, 66);
}

.b[data="false"] {
    background: #aaa;
}


.anim {
    animation: button 3s infinite;
    -webkit-animation: button 3s infinite;
}

@keyframes button {
    0%, 50%, 90% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg) scale(1);
        -webkit-transform: rotate(5deg) scale(1);
    }
    70% {
        transform: rotate(-5deg) scale(0.97);
        -webkit-transform: rotate(-5deg) scale(0.97);
    }
    80% {
        transform: rotate(5deg) scale(1.05);
        -webkit-transform: rotate(5deg) scale(1.05);
    }
}

@-webkit-keyframes button {
    0%, 50%, 90% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg) scale(1);
        -webkit-transform: rotate(5deg) scale(1);
    }
    70% {
        transform: rotate(-5deg) scale(0.97);
        -webkit-transform: rotate(-5deg) scale(0.97);
    }
    80% {
        transform: rotate(5deg) scale(1.05);
        -webkit-transform: rotate(5deg) scale(1.05);
    }
}