
/*Miljo-spillet med Lan Marie*/
body {
    padding-top: 1.275em;
    font-family: Arial;
    background-color: turquoise;
    width: 28.25em;
    margin: auto;
    text-align: center;
}                                           

/*"Antall biler fjernet fra sentrum"*/
p {
    font-size: 1rem;
    color: white;
    display: block;
}

/*Tabellen med kategorier og antall trykk*/
table {
    margin-top: 0.625em;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    width: 28.25em;
}

.lan{
    font-size: 1.25em;;
}

/*Listen i tabellen som pakker inn ordene*/
td {
    border:1px solid;
}

/*Scoreboarden som oppdaterer seg ved antall klikk*/
#numbers {
    margin: 0 auto;
    text-align:center;
    margin-top: 1em;
    padding-top: 0.5em;
    margin-bottom: 1.25em;
    font-size: 1.9rem;
    border:5px solid;
    border-radius:0.625em;
    background-color:white;
    max-width: 5em;
    height:1.8em;    
}

/*Boksen som viser hvilke nivå du er på*/
#upgradeLevel {
    margin: auto;
    text-align:center;
    padding-top: 1.25em;
    margin-bottom: 1.25em;
    font-size: 1.25rem;
    border:5px solid;
    border-radius:0.625em;
    background-color:lightpink;
    width:16.7em;
    height:2.1em;    
}
     