@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");


/*Søke-boksen i høyre hjørne css*/
* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

/*Plassering av søke-boksen*/
.search {
  margin: 1.25rem;
  top: 2.5rem;
  right: 3.2rem;
  position: absolute;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

/*Plassering og redigering av den tynne streken til sirkelen, håndtaket til "forstørrelses-glasset"*/
.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 1.25rem;
  position: absolute;
  top: 1.56rem;
  left: 2rem;
  transform: rotate(135deg);
}
/*Redigering av innholdet i boksen når du trykker på den*/
.search > div > input {
  color: white;
  font-size: 1rem;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.625rem;
  border: solid 3px white;
  outline: none;
  border-radius: 2.2rem;
  transition: width 0.5s;
}

/*Teksten i boksen*/
.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

/*Lengde på inntastingsfeltet når du trykker på søke-ikonet*/
.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 7.5rem;
}
